@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --feher: white;
    --vilagoskek: #1283b9;
    --sotetkek: #06435f;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#header {
    height: 400px;
    background-image: url('/forras/img/balaton_bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 3rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

@media only all and (max-width: 992px) {

    #title {
        font-size: 1.5rem;
    }

}

#menu {
    background-color: var(--sotetkek);
    padding-left: 10px;
}

.nav-link:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

h2 {
    color: var(--vilagoskek);
    font-family: "Marhey", sans-serif;
    text-decoration: underline wavy var(--vilagoskek);
    font-variant: small-caps;
}

.blueShadow{
    box-shadow: 1px 1px 3px var(--sotetkek);
}

.secondImg{
    margin-bottom: 3rem;
}

table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px var(--sotetkek);
}

thead{
    color: white;
    background-color: var(--vilagoskek);
}

th{
    text-align: center;
    font-family: "Marhey", sans-serif;
}

#blueTitle{
    background-color: var(--sotetkek);
}

td{
    background-color: rgba(18, 131, 185, 0.1);
    color: var(--sotetkek);
}

tr:hover{
    background-color: rgba(18, 131, 185, 0.7);
}

table td:first-child{
    font-weight: bold;
    font-variant: small-caps;
    width: 25%;
}

tr{
    border-bottom: 1px solid var(--sotetkek);
    padding: 5px;
}

#imgGrid{
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-rows: repeat(1fr,3);
}




footer{
    display: flex;
    justify-content: center;
    height: 300px;
    background-image: url("/forras/img/wave.svg");
    background-size: cover;
    background-position: center;
}
#footerText{
    font-size: 1.5rem;
    align-self: flex-end;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);;
}